{% extends "base.html" %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'mainapp/css/mainapp.css' %}">
{% endblock %}

{% block 'dashboard' %}
<div class="container">
{% if error %}
    <div class="alert alert-danger">{{ error }}</div>
{% endif %}

<form method="post">
    {% csrf_token %}
    <div>
        <label for="username">Usuário:</label>
        <input type="text" name="username" id="username" required>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email">
    </div>
    <div>
        <label for="password">Senha:</label>
        <input type="password" name="password" id="password" required>
    </div>
    <button type="submit">Cadastre-se</button>
</form>
</div>

{% endblock %}